.alert {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 200px;
    border: 1px solid #000;
    text-align: center;
    padding: 10px;
    opacity: 0;
    animation: fadeIn forwards 0.3s;
    background: #fff;
}

.alert.out {
    opacity: 1;
    animation: fadeOut forwards 0.3s;
    z-index: -1;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.alert-top {
    text-align: right;
}

.alert-top button {
    width: 20px;
    height: 20px;
    padding: 0;
    margin: 0;
    background: none;
    border: none;
    cursor: pointer;
}

/* reset */

* {
    padding: 0;
    margin: 0;
    list-style: none;
    background: none;
    text-decoration: none;
	font-family: 'Pretendard-Regular';
    color: #222;
    box-sizing: border-box;
}

button {
    border: none;
    cursor: pointer;
}

button:disabled {
    cursor: default;
}

@font-face {
	font-family: 'Pretendard-Regular';
	src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}

/* common */ 

input:not([type="checkbox"]) {
    background: #fff;
    border: 1px solid #eee;
    border-radius: 4px;
    height: 40px;
    min-width: 200px;
    padding: 10px;
    font-size: 17px;
    color: #444;
    letter-spacing: -0.68px;
}

input:not([type="checkbox"]):focus {
    outline: none;
    border-color: #666;
}

input:not([type="checkbox"])::placeholder {
    color: #ccc;
}

input[type="file"] {
    display: none;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.select {
    min-width: 140px;
    background: #fff;
    display: inline-block;
    position: relative;
    padding-bottom: 4px;
}

.select-value {
    font-size: 17px;
    letter-spacing: -0.68px;
    color: #666;
    width: 100%;
    height: 40px;
    padding: 10px;
    text-align: left;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.option {
    position: absolute;
    top: 100%;
    left: 0;
    border-radius: 4px;
    background: #fff;
    border: 1px solid #ccc;
    padding: 4px;
    display: none;
}

.option.active {
    display: block;
}

.option button {
    padding: 5px 26px 5px 10px;
    font-size: 17px;
    letter-spacing: -0.68px;
    color: #444;
    width: 100%;
    text-align: left;
    border-radius: 2px;
}

.option button:hover {
    background: #eee;
}

.btn {
    min-width: 100px;
    height: 40px;
    border-radius: 4px;
    font-size: 17px;
    letter-spacing: -0.68px;
    transition: 0.2s;
}

.btn-green {
    background: #00a37f;
    color: #fff;
}

.btn-green:hover {
    background: #02846c;
}

.btn-green:disabled {
    background: #00a37f;
    color: rgba(0, 163, 127, 0.4);
}

.btn-gray {
    border: 1px solid #ccc;
    background: #eee;
    color: #444;
}

.btn-gray:hover {
    background: #ddd;
}

.btn-gray:disabled {
    background: #eee;
    color: #ccc;
}

.btn-white {
    background: #fff;
    border: 1px solid #666;
    color: #444;
}

.btn-white:disabled {
    color: #ccc;
}

/* CMS main */

body, #root {
    width: 100%;
    height: 100%;
}

header {
    height: 60px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 20px;
}

header h1 {
    margin-right: 40px;
    flex-shrink: 0;
}

nav {
    height: 100%;
    display: flex;
    align-items: flex-end;
}

nav a {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    width: 100px;
    height: 40px;
    background: #333a3d;
    margin: 0 1px;
    border-radius: 8px 8px 0 0;
}

nav a.checked {
    background: #00a37f;
}

header p {
    margin: 0 30px 0 auto;
    font-size: 18px;
    font-weight: 600;
    flex-shrink: 0;
}

header button {
    font-size: 16px;
    color: #666;
    flex-shrink: 0;
}

.container {
    width: 100%;
    height: 100%;
}

.filter {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    height: 93px;
    padding: 10px;
    position: relative;
    background: #f6f6f6;
}

.filter > ul {
    border-radius: 4px;
    display: flex;
    align-items: flex-start;
    margin-right: 10px;
    flex-shrink: 0;
    position: relative;
}

.filter > ul:not(.brand){
    overflow: hidden;
}

.filter .brand > li {
    position: relative;
}

.filter .brand ul {
    position: absolute;
    top: 100%;
    display: none;
    border-top: 1px solid #f6f6f6;
}

.filter .brand .checked ul {
    display: flex;
}

.filter button {
    background: #bec1c4;
    color: #666;
    font-size: 17px;
    letter-spacing: -0.68px;
    height: 40px;
    padding: 0 20px;
    position: relative;
}

.filter button::after {
    content: '';
    width: 1px;
    height: calc(100% - 10px);
    background: #f6f6f6;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.filter li:first-child button::after,
.filter .checked > button::after,
.filter .checked + li button::after {
    display: none;
}

.filter li:first-child button {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.filter li:last-child button {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.filter .checked > button {
    background: #fff;
    border: 2px solid #00a37f;
    color: #00a37f;
}

.filter li ul button {
    height: 30px;
    padding: 0 10px;
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
}

.filter .year {
    position: absolute;
    left: 88px;
    top: 53px;
    width: 166px;
}

.filter .year li {
    width: 50%;
}

.filter .year li button {
    width: 100%;
    height: 30px;
}

.filter ul.disabled::after {
    content: '전체 학교/학년';
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #5c6164;
    color: #fff;
    border-radius: 4px;
}

#contents {
    padding: 20px;
}

.book-info form {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.book-info .left {
    width: 60%;
    display: flex;
    flex-wrap: wrap;
}

.book-info .title {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 20px;
}

.book-info .title div:first-child {
    width: calc(100% - 90px);
}

.book-info .title input:not([type="checkbox"]) {
    width: 100%;
    text-align: center;
}

.book-info .title input:not([type="checkbox"]):disabled {
    background: #dcdee0;
}

.book-info .bookcover {
    width: 40%;
    display: flex;
    justify-content: center;
    padding: 20px;
}

.book-info .bookcover .upload {
    cursor: pointer;
}

.book-info .bookcover div:first-child {
    width: 170px;
    height: 250px;
    background: #ccc;
}

.book-info .bookcover div:last-child {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.book-info .bookcover button, .book-info .bookcover label {
    font-size: 30px;
}

.book-info .input-box {
    padding: 20px;
    width: 60%;
}

.book-info .input-box div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
}

.book-info .right {
    width: 40%;
}

.book-info .right .select {
    margin-right: 4px;
}

.book-info .bottom {
    width: 100%;
    display: flex;
}

.book-info .bottom button {
    margin-right: 4px;
}

.book-info .bottom button:last-child {
    margin: 0 0 0 auto;
}